/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
    margin: 0;
}

/* margin on a vertical direction collapse each other, padding no collapse */
h1, h2, h3 {
    margin: 0;
}

/* It's recommended to have the links underlined, to those pepople are colorblind */
a {
    color: var(--magenta);
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

/* Intro styles */

#intro {
    padding-bottom: 10rem;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block; /* El nombre hace un salto de linea "block: inline" es en una sola linea */
}

#intro h2 {
    font-size: 4rem;
    font-weight: normal;
}

/* Contact me section */

#contact_me {
    /* My solution
    display: flex;
    flex-direction: column;
    text-align: center; */

    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}

/* last-child pseudo class means take the las p in the section in this case "Email me" */
#contact_me p:last-child {
    margin-top: 3rem;
}

/* navbar */
/* My solution  :) */
/* #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-elements {
    display: flex;
}

.navbar-elements p {
    padding-left: 10px;
} */

nav {
    font-family: var(--mono);
    font-size: 80%; /* Take the base font size and reduce it by 80% */
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    /* The ul/ol have styles for default depending the browser that's why we set paddin and margin to 0 */
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%; /* Occupy 100% of the long space (occupy whatever space is available 100%) */
    text-align: center;
}

/* 
    It's called the "attribute selector" it has more weight, because is more specific.
    Search for some class that contains "fa-", in this case
*/
nav [class*="fa-"] { 
    font-size: 150%; /* Make it 150% bigger than the base font size */
    color: var(--aqua);
}

/* Make the icon next to my name smaller */
nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--aqua);
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: block; /* Allow us to click in all the area */
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--magenta);
}
